
SiriusCSharp.Client/SiriusClient/Sirius.CSharp.Client/obj/*
SiriusCSharp.Client/SiriusClient/Sirius.CSharp.Client/bin/*
SiriusCSharp.Client/SiriusClient/bin
SiriusCSharp.Client/SiriusClient/Sirius.CSharp.Client.Package/lib
SiriusCSharp.Client/SiriusClient/obj
SiriusCSharp.Client/SiriusClient/obj
SiriusCSharp.Client/SiriusClient/Sirius.CSharp.Client.Package/obj
SiriusCSharp.Client/SiriusCSharp.Client.Tests/obj
SiriusCSharp.Client/SiriusClient/obj
SiriusCSharp.Client/SiriusCSharp.Client.Tests/bin/*
SiriusCSharp.Client/SiriusCSharp.Client.Tests/Packages/*
SiriusCSharp.Client/SiriusClient/obj/*
SiriusCSharp.Client/Sirius.Client.Core/bin/*
SiriusCSharp.Client/Sirius.Client.Core/obj/*
SiriusCSharp.Client/Sirius.CSharp.Client.Package/bin/*
SiriusCSharp.Client/Sirius.CSharp.Client.Package/obj/*
SiriusCSharp.Client/Sirius.CSharp.Client.Package/lib/*
SiriusCSharp.Client/Sirius.CSharp.Client.Package/*.nupkg
SiriusCSharp.Client/Sirius.CSharp.Client.Package/*.nupkg.bak
SiriusCSharp.Client/Sirius.CSharp.Client.Win32/bin/*
SiriusCSharp.Client/Sirius.CSharp.Client.Win32/obj/*
SiriusCSharp.Client/SiriusClient/Sirius.CSharp.Client.Package/bin/*
SiriusCSharp.Client/Sirius.Win32.Lib/bin/*
SiriusCSharp.Client/Sirius.Win32.Lib/obj/*
SiriusCSharp.Client/Sirius.Win32.Lib/Packages/*
SiriusCSharp.Client/Sirius.Win32.WinService/bin/*
SiriusCSharp.Client/Sirius.Win32.WinService/obj/*
SiriusCSharp.Client/Sirius.Win32.Service.Installer/Debug/*
SiriusCSharp.Client/Sirius.Win32.Service.Installer/Release/*
SiriusCSharp.Client/SiriusCSharp.Client.Tests/bin/*
SiriusCSharp.Client/SiriusCSharp.Client.Tests/obj/*
SiriusCSharp.Client/SiriusCSharp.Client.Tests/Output/*
SiriusCSharp.Client/TestWpfApp/bin/*
SiriusCSharp.Client/TestWpfApp/obj/*
Publish/Ruby-Client/*
Publish/Server.Win32/*
obj
bin
.svn

target
CSharp-Client
Java-Client
RubyClient
Server
Release
Debug

/SiriusCSharp.Client/Sirius.Win32.WinService/Packages
Packages
/SiriusCSharp.Client/Client/SiriusClient/StyleCop.xml
/SiriusCSharp.Client/Client/SiriusClient/UpgradeLog.htm
/SiriusCSharp.Client/UpgradeLog.htm
