<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="CommandLines" type="Sirius.Service.Starter.CommandSection, Sirius.Service.Starter" allowLocation="false" />
  </configSections>
  <CommandLines>
    <Commands>
      <add Name="Sirius.Win32.Service" Executable="Sirius.Win32.Service.exe" Host="localhost" Port="31313" WorkingDir="./"/>
      <add Name="Sirius.Excel.Service" Executable="Sirius.Win32.Service.exe" Host="localhost" Port="31312" WorkingDir="./"/>
    </Commands>
  </CommandLines>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
