<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="Sirius.Win32.SvcImpl.Controls.TabSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.ITabContract" binding="mexHttpBinding" address="tab" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.EditSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IEditContract" binding="mexHttpBinding" address="edit" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ButtonSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IButtonContract" binding="mexHttpBinding" address="button" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ListBoxSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IListBoxContract" binding="mexHttpBinding" address="listbox" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ListViewSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IListViewContract" binding="mexHttpBinding" address="listview" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ProgressBarSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IProgressBarContract" binding="mexHttpBinding" address="progressbar" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ScrollBarSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.IScrollBarContract" binding="mexHttpBinding" address="scrollbar" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.SliderSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.ISliderContract" binding="mexHttpBinding" address="slider" />
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.SpinSvc" behaviorConfiguration="MyServiceTypeBehaviors" >
        <endpoint contract="Sirius.Win32.Svc.Controls.ISpinContract" binding="mexHttpBinding" address="spin" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <serviceMetadata httpGetEnabled="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>