<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="baseURL" value="http://localhost:31313"/>
    <add key="runAsService" value="false"/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\Sirius.Win32.WinService.log"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="_yyyy.MM.dd-hh_mm_ss.lo\g"/>
      <param name="StaticLogFileName" value="true"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value=""/>
        <param name="Footer" value=""/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]"/>
        <param name="Footer" value="[Footer]"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>

    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <system.serviceModel>
    <services>
      <service name="Sirius.Win32.SvcImpl.Controls.TabSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.ITabContract" binding="basicHttpBinding" address="" name="TabSvcPort" bindingNamespace="http://tab.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.EditSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IEditContract" binding="basicHttpBinding" address="" name="EditSvcPort" bindingNamespace="http://edit.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ButtonSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IButtonContract" binding="basicHttpBinding" address="" name="ButtonSvcPort" bindingNamespace="http://button.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ListBoxSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IListBoxContract" binding="basicHttpBinding" address="" name="ListBoxSvcPort" bindingNamespace="http://listbox.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ListViewSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IListViewContract" binding="basicHttpBinding" address="" name="ListViewSvcPort" bindingNamespace="http://listview.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ProgressBarSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IProgressBarContract" binding="basicHttpBinding" address="" name="ProgressBarSvcPort" bindingNamespace="http://progressbar.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.ScrollBarSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.IScrollBarContract" binding="basicHttpBinding" address="" name="ScrollBarSvcPort" bindingNamespace="http://scrollbar.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.SliderSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.ISliderContract" binding="basicHttpBinding" address="" name="SliderSvcPort" bindingNamespace="http://slider.controls.win32lib.server.sirius.org/"/>
      </service>
      <service name="Sirius.Win32.SvcImpl.Controls.SpinSvc" behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint contract="Sirius.Win32.Svc.Controls.ISpinContract" binding="basicHttpBinding" address="" name="SpinSvcPort" bindingNamespace="http://spin.controls.win32lib.server.sirius.org/"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
